body {
    background-color: rgb(126, 163, 163);
}
#editor {
    display: block;
    width: 85%;
    margin: 0 auto;
    padding: 5px;
    height: 50vh;
    border: solid 1px black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#preview {
    @extend #editor;
    width: 90%;
    border: solid 1px black;
    padding: 10px;
    height: auto;
    background-color: rgb(204, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

tr {
    border-top: 1px solid #c6cbd1;
    background: #fff;
}

th,
td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}

table tr:nth-child(2n) {
    background: #f6f8fa;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid rgb(95, 94, 94);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

blockquote:before {
    color: rgb(95, 94, 94);
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

img {
    display: block;
    height: auto;
    max-width: 90%;
}

pre {
    margin: 10px;
}

#toolbar {
    margin: 0 auto;
    width: auto;
    height: 30px;
    background: linear-gradient(rgb(71, 125, 134), rgb(105, 208, 221));
    border: solid 1px black;
}

#toolbar p  {
    font-weight: bolder;
    padding-left: 5px;
    color: rgb(37, 37, 37);
}